body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

#style-16::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

#style-16::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

#style-16::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top, #127aa7 0%, #0d81b3be 50%, #14678898 51%, #2ab0ed 100%);
}

nav {
  width: 100% !important;
  padding: 0.8rem 0 !important;
  margin: 0 !important;
}

nav i {
  color: white;
  margin: 0 2rem;
}

nav:hover {
  cursor: pointer;
}

.title {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 0;
  letter-spacing: 0.07rem;
  text-align: center;
}

.left {
  background: rgba(66, 78, 65, 0.178);
  height: 100vh;
  overflow-y: scroll;
}

.left .hide {
  display: none;
}

.left .input-group {
  margin: auto;
}

.left .input-group input {
  border-radius: 0;
}

.left button {
  border-radius: 0;
}

.left .left-bottom {
  margin-top: 1rem;
}

.left .left-bottom ul li {
  font-size: .8rem;
}

.left .left-bottom ul li:hover {
  cursor: pointer;
}

.right .card-decks {
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
}

.right .card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0;
  border: solid;
  border-width: 1px;
  border-color: rgba(30, 138, 44, 0.404);
  -webkit-transition: ease-in all .25s;
  transition: ease-in all .25s;
}

.right .card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 15px 25px 25px;
          box-shadow: 15px 25px 25px;
  cursor: pointer;
}

.right .card .card-title {
  font-size: .7rem;
}

.right .card .card-subtitle {
  font-size: 1.5rem;
}

.right .actions .card {
  margin: 1rem;
  color: white;
  border: none;
}

.right .actions .card:first-of-type {
  background: rgba(0, 128, 75, 0.842);
}

.right .actions .card:nth-of-type(2n) {
  background: rgba(116, 47, 47, 0.876);
}

.right .actions .card:nth-of-type(3n) {
  background: rgba(255, 124, 1, 0.74);
}

.right .actions .card .card-img-top i {
  font-size: 3rem;
  display: block;
  text-align: center;
  padding: 1rem 0;
  padding-bottom: 0rem;
  color: rgba(119, 119, 119, 0.596);
  color: white;
}

.right .actions .card .card-body {
  text-align: center;
}

.right .title {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 0;
  letter-spacing: 0.07rem;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 0;
}

.right table {
  margin-top: 2rem;
}

.right table thead {
  background: rgba(194, 193, 193, 0.384);
  border: rgba(194, 193, 193, 0.384) e;
}

.right .history-title {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 0;
  letter-spacing: 0.07rem;
  text-align: center;
  padding: 0;
}

#bookView .modal {
  height: 80vh !important;
  width: 80vw !important;
}

#bookView .modal-content {
  padding: 2rem;
}

#bookView .modal-left h3 {
  font-size: 1.3rem;
  color: rgba(8, 102, 86, 0.692);
}

#bookView .modal-left span {
  font-size: 1.2rem;
  color: #3d3d3d;
  letter-spacing: .07rem;
}

#bookView .modal-right i {
  font-size: 120px;
  display: block;
  text-align: center;
  margin-top: 10px;
  color: rgba(180, 77, 36, 0.733);
}

#bookView .btn-borrow {
  display: block;
  margin-top: 2rem;
  border: none;
  background: #07a065;
  font-size: 1.2rem;
  letter-spacing: .07rem;
  padding: 1rem;
  color: white;
}

#bookView .btn-return {
  background: #b85a0d;
}

#borrowBookView .modal {
  height: 80vh !important;
  width: 80vw !important;
}

#borrowBookView .modal-content {
  padding: 2rem;
}

#borrowBookView .btn {
  z-index: -1;
}

#borrowBookView input {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#borrowBookView .input-group .btn {
  display: block;
}

#borrowBookView .input-group:nth-of-type(n) {
  margin-bottom: 2rem;
}

#borrowBookView .hide {
  display: none;
}

.btn-borrow {
  display: block;
  margin-top: 2rem;
  border: none;
  background: #07a065;
  font-size: 1.2rem;
  letter-spacing: .07rem;
  padding: 1rem;
  color: white;
}

.success-msg {
  background: rgba(1, 85, 53, 0.89);
  padding: 1rem 2rem;
  display: inline;
  position: absolute;
  top: 50px;
  right: 25px;
  color: white;
  font-size: 1.2rem;
}

.success-msg i {
  margin-right: 1rem;
}
/*# sourceMappingURL=style.css.map */